<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cheers ;)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cheers ;)</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <strong>Ready to create an app?</strong>

    <div>
      <input type="file" (change)="capturarFile($event)">
    </div>
    <!-- PREVIEW IMAGE -->
    <div *ngIf="previsualizacion">
      <img [src]="previsualizacion" width="100px" height="100px" alt="">
    </div>
    <div>
      <button type="button" [disabled]="loading"  (click)="subirArchivo()">
        {{ (loading) ? 'Cargando ...'  : 'Subir Archivo'}}
      </button>
    </div>
    <p><span style="color:red;">中国のサルとのハッキング</span> <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
